.container {
  position: relative;
  overflow: auto;
  scroll-behavior: smooth;
  height: 100%;
}

.header-row {
  background-color: orange;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0px;
}

.header-row .box {
  padding: 10px;
}

.header-row li {
  display: inline;
  padding: 5px;
  font-size: larger;
}

.header-row a {
  text-decoration: none;
}

.header-row a:hover {
  text-decoration: underline;
}

.row {
  padding: 100px;
  height: 75%;
}

.row .box {
  padding: 20px;
  margin: 10px;
}

.footer {
  padding: 20px;
  margin: 0px;
  background-color: black;
  color: white;
  font-size: large;
}

button {
  background-color: teal;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 10%;

}
.box3{
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  padding: 15px;
  margin: 15px;
  transition: transform 0.4s ease, box-shadow 0.4s ease, border 0.4s ease;
  cursor: pointer;
  background-color: bisque;
}
button:hover{
  transform: scale(1.2,1.2);
}
.highlight {
  transition: color 0.5s ease-in-out, transform 0.5s;
}
.projects-grid {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
gap: 30px;
padding: 20px;
justify-items: center;
}
.box3 img {
width: 100%;
height: auto;
border-radius: 5px;
margin: 10px auto;
display: block;
}
.box3.clicked {
border: 3px solid teal;
transform: scale(1.05);
box-shadow: 4px 4px 10px rgba(0, 128, 128, 0.6);
}
.box3:hover {
  transform: scale(1.05);
  box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.3);
}

